.acu-toggle-content {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 5px;
}
.acu-content {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    display: none;
}
.acu-content p, .acu-content li {
    margin-bottom: 20px;
    font-size: 14px;
    color: #666;
    line-height: 1.6;
}
.acu-content li {
    list-style-type: disc;
    margin-left: 50px;
}
.acu-image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* 让容器占满整个视口高度 */
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.acu-image-container img {
    width: 100%;
    height: auto;
}
.blurred-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px); /* 根据需要调整模糊效果 */
    z-index: 1;
}

.acu-title-text {
    position: relative;
    z-index: 2;
    font-size: 200px; /* 根据需要调整字体大小 */
    color: white; /* 根据需要调整文字颜色 */
    white-space: nowrap; /* 防止换行 */
    font-weight: bold;
}

.acu-container {
    align-items: center;
    max-width: 100%;
    padding-inline: 2%;
    background-color: #fff;
    
}
.acu-container h1 {
    padding-top: 70px;
    color: #29772c;
    padding-inline: 15%;
}
.acu-container p {
    font-size: 20px;
    line-height: 1.5;
    padding-inline: 15%;
}

.acu-container.last p:nth-of-type(2){
    padding-bottom: 70px;
}

.acu-toggle-content {
    cursor: pointer;
    font-size: 24px; 
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
    font-weight: bold;
}
.acu-content {
    padding: 20px; 
    border: none; 
    background-color: #fff; 
    display: none;
}
.acu-content p, .acu-content li {
    margin-bottom: 20px;
    font-size: 24px;
    color: #666;
    line-height: 1.6;
}
.acu-content li {
    list-style-type: disc;
    margin-left: 50px;
}
#acu-hidden-content ul{
    padding-inline: 15%;
}
